.footerBody{
    height: 180px;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(87, 87, 243);
}
.footerDownP{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10px;
}
.footerATage{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.footerATage:hover{
    color: aqua;
}