.headerBody{
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.headerBody2{
    height: 80px;
    width: 99%;
    margin-top: 2.5px;
    box-shadow: 5px 10px 18px #c3c1c1;
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    align-items: center;
}
.headerTittle{
    color: rgb(69, 69, 248);
    font-style: normal;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
}
.headerBox{
    width: 75%;
}